
.panel{
    width:100vw;
    height:100vh;
    background-color:#18191a;
    display:flex;
}

.infoSection{
    background-color: #18191a;
    width:40%;
    padding-top:10rem;
    padding-left:5rem;
}

.infoSection h1{
    padding-top:3rem;
    font-size: clamp(2rem, 1.5vw + 0.8rem, 7rem);
    color:white;
}
.infoSection h1 span{
    --bg-size: 400%;
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: var(--bg-size);
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: move-bg 8s infinite linear;
}
@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}
.contactInfo{
    display:flex;
    flex-direction: column;
    gap:2rem;
}

.infoHolder{
    background-color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.infoHolder svg{
    padding-left:1rem;
    /* NEEDS TO BE RESPONSIVE */
    width:3rem;
}

.infoHolder p{
    padding-left:1rem;
    font-size:clamp(1.2rem, 1vw + 0.5rem, 5rem);
}

.formSection{
    padding-top:5rem;
    background-color:#18191a;
    width:60%;
    display:flex;
    justify-content:center;
}

.contactForm{
    margin-top:5rem;
    background-color:white;
    width:80%;
    height:50rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5rem;
}

.contactForm h1{
    padding-top:3rem;
    width:80%;
    padding-left:calc(10% + 1rem);
    text-align:left;
    font-size: clamp(2rem, 1.5vw + 0.8rem, 7rem);

}

.contactForm form{
    width:70%;
}

.contactForm form label{
    text-align: left;
    padding-left:1rem;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 5rem);
    font-weight: 500;
}
.contactForm input{
    height:2rem;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 5rem);
}
.contactForm textarea{
    resize:none;
    font-size: clamp(1rem, 0.9vw + 0.5rem, 4rem);
}

.inputGroup{ 
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    padding-bottom:2rem;
} 

.buttonHolder{
    width:100%;
    display:flex;
    align-items: flex-start;
}

.contactForm button{
    width:12rem;
    padding:0.8rem;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 5rem);
    --bg-size: 400%;
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: var(--bg-size);
    background-repeat: repeat;
    animation: move-bg 10s infinite linear;
    color:white;
    cursor:pointer;
    border:none;
}

@media(max-width:940px){
    .panel{
        flex-direction: row;
        justify-content: center;
    }
    .infoSection{
        display:none;
    }
    .formSection{
        padding-top:3rem;
        width:100%;
    }
    .contactForm{
        width:70%;
        height:35rem;
    }
    .contactForm h1{
        padding-top:1.5rem;
    }
    .contactForm input{
        font-size: clamp(1.2rem, 1vw + 0.5rem, 5rem);
    }
    .contactForm textarea{
        font-size: clamp(1.2rem, 1vw + 0.5rem, 5rem);
    }
}